@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import "tailwindcss";

.google, .figma, .github {
    height: 35px;
    width: 35px;

    background-repeat: no-repeat;
    background-size: cover;
}
.google{
  background-image: url('/google.png');
}
.github{
  background-image: url('/github.png');
}
.figma{
  background-image: url('/figma.png');
}

.personal, .social, .professional, .profile{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
}


.customfont{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.customfont2 {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.input-modal{
  @apply rounded-lg w-[80%] h-10 bg-[#252540] text-[#E8E8F0] text-center
}

.groups{
  @apply flex justify-center items-center bg-[#0A0A0F] text-[#E8E8F0] rounded-2xl w-[70%] min-h-25 text-xs border-1 border-[#252540] border-dashed
}

.bolinhaModal{
  @apply w-15 h-15 rounded-full bg-[#FF5A5A]/80 flex justify-center items-center text-2xl border-1 border-[#252540]
}

.personal-tab-navbar{
  @apply h-full flex justify-center items-end w-[8%];

  transition: .2s;
}

.set-timer{
 @apply rounded-full w-20 h-10 flex justify-center items-center cursor-pointer

}

.financa-top-box{
  @apply flex-1 border rounded-2xl flex flex-col p-6 gap-2;
}