@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import "tailwindcss";

.google, .figma, .github {
    height: 35px;
    width: 35px;

    background-repeat: no-repeat;
    background-size: cover;
}
.google{
  background-image: url('/google.png');
}
.github{
  background-image: url('/github.png');
}
.figma{
  background-image: url('/figma.png');
}

.personal, .social, .professional, .profile{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
}


.customfont{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.customfont2 {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.input-modal{
  @apply rounded-lg w-[80%] h-10 bg-zinc-600 text-white text-center
}

.groups{
  @apply flex justify-center items-center bg-zinc-900 text-white rounded-2xl w-[70%] min-h-25 text-xs border-1 border-white border-dashed
}

.bolinhaModal{
  @apply w-15 h-15 rounded-full bg-[#e8828a]/80 flex justify-center items-center text-2xl border-1 border-[#7A5C3E]
}

.personal-tab-navbar{
  @apply h-full flex justify-center items-end w-[8%];

  transition: .2s;
}